/* GLOBAL */
:root {
 --font-family: 'Arial Rounded';
 --nav-font: 'Arial Rounded';
 --display-font: 'rip';
 --light-font: 'Arial Rounded Light';
 --reg-font: 'Arial Rounded Reg';
 --extra-bold: 'Arial Rounded Bold';
 --dark-color: black;
 --light-color: white;
 --neon-green: #09FF00; 
 --neon-yellow: #EEFF00; 
 --neon-pink: #FC5BFB; 
--lisa-gradient: linear-gradient(160deg, var(--neon-pink), var(--neon-yellow));
--drop-black: drop-shadow(3px 5px 3px black); 
--drop-green: drop-shadow(3px 5px 3px var(--neon-green)); 

}

/* RESETS */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
	outline: none;
}

::selection {
	background-color: transparent;
	color: var(--neon-green);
}

ul {
	list-style-type: none;
}

/* TYPOGRAPHY */

h2, h3, h4, h5, h6 {
	font-weight: normal;
  font-family: var(--font-family);
}

h1 {
  font-family: var(--display-font);
}

a {
  color: currentColor;
  text-decoration: none;
}

.content p {
  font-size: 1.5rem;
  font-family: var(--light-font);
}

.content p strong {
  font-family: var(--font-family);
}


/* LAYOUT */

body {
	font-family: var(--font-family);
  background-color: var(--dark-color);
  color: var(--light-color);
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  width: 100%;
  overflow-x: hidden;
}

.content {
  grid-column: 1 / 3;
}

.content:not(.home)  {
  display: flex;
  flex-direction: row-reverse;
}

.content > div { 
  width: 50%;
}

.right-col {
  padding: 4rem;
}

.left-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.home .checkers, .home .header .title, .about .header .title {
  display: none;
}


.checkers {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  background: conic-gradient(
    var(--neon-green) 90deg,
    var(--neon-pink) 90deg 180deg,
    var(--neon-green) 180deg 270deg,
    var(--neon-pink) 270deg
    );
    
    background-repeat: repeat ;
    background-size: 5vw 5vw;
    background-position: top left; 
}



/* NAV */

.header {
  grid-row: 1/2;
  grid-column: 2 / 3;
  text-align: right;
  z-index: 10;
}

.header .title {
  padding: 1.5rem;
}
.title {
  font-family: var(--display-font);
  font-size: 2.2rem;
  line-height: 0.8;
}

.header .title:hover {
  color: var(--neon-pink);
}

nav {
  grid-row: 1/2;
  grid-column: 1/3;

  font-family: var(--nav-font);
  /* font-style: bold; */
  text-transform: lowercase;
  margin-bottom: 1rem;

  position: fixed;
  padding: 1.5rem;
  z-index: 10;

}

ul.nav {
  display: flex;
  position: relative;
}

nav li, .button {
  line-height: 1;
  margin-right: 0.35rem;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;

  background: linear-gradient(black, black) padding-box,
  var(--lisa-gradient) border-box;
  border-radius: 10px;
  border: 2px solid transparent;  
}

ul.sub-nav {
  position: absolute;
  top: 37px;
  padding-top: 0.5rem;
  display: none;
  width: max-content;
  left: -2px;
}

nav li:hover > ul.sub-nav, ul.sub-nav:hover {
  display: inline;
}

nav li.active, nav li:hover {
  filter: var(--drop-black);
}


body.home nav li.active, body.home nav li:hover {
  filter: var(--drop-green);
}

ul.sub-nav li {
  margin-bottom: 0.35rem;
  width: fit-content;
}


.button:hover {
  filter: var(--drop-black);
}

/* idk */
/* .content a {
  text-decoration: none;
} */


/* PAGES */
.home h1 {
  font-size: 10rem;
  background: linear-gradient(90deg, #09FF00, #EEFF00, #FC5BFB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 70vw;
  line-height: 0.9;
  margin-bottom: 1rem;
}

.home h1::selection {
  background: transparent;
  color: var(--neon-pink);
  -webkit-text-fill-color: var(--neon-pink);
}

.home h3 {
  font-size: 2rem;
}

.home .content {
  padding: 5rem 1.5rem;
}

.home {
  position: relative;
}

.home .shape {
  position: absolute;
  bottom: 0;
  right:0;
}

.play {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 115px);
  height: min-content;
  margin: 0 2rem 4rem;
}

.play .title {
  font-size: 5.5rem;
}

.jean {
  transform: rotate(-20deg);
}

.kyoung {
  grid-column: 2/4;
  transform: rotate(10deg) translate(20%, -10px);
}

.frazier {
  grid-column: 2/4;
  transform: rotate(20deg) translate(-20px,-20px);
}

.play .pink {
  width: 40px;
  transform: translate(40%,-10px);
}

.play .triangle {
  grid-row: 2/3;
  transform: translate(50%, -10px);
}

.play .green {
  grid-column:2/3;
  transform: translate(100%, 100%);
}

/* ABOUT */

.about .right-col {
  padding-top: 6rem;
}


.about p {
  font-size: 2rem;
  font-family: var(--font-family);
  margin-bottom: 1rem;
}

.profile {
  padding-bottom: 2rem;
  max-height: 500px;
}

.feature-img {
  padding: 0.5rem;
  border: var(--thin-border);
  max-height: 300px;
}

/* WRITING */

.writing {
  margin-bottom: 2.4rem;
}
.writing li {
  margin-bottom: 1rem;
}

.writing span.publisher {
  font-style: italic;
}

.writing h3, .book h3 {
  font-family: var(--extra-bold);
  font-size: 1.2rem;
  
  margin-bottom: 1rem;
}

/* BOOK */

.book .left-col {
  flex-direction: column;
  padding-top: 3rem;
}


.book h2 {
  font-size: 2rem;
  font-family: var(--extra-bold);
  padding-bottom: 2.5rem;
  position: relative;
  display: inline-block
}

.book h2::before, .book h3::before {
  content: "";
  position: absolute;
  top: 60%;
  width: 100%;
  left: 0;
  height: 4px;
  border-radius: 2px;
  background: var(--lisa-gradient);
}

.book h3::before {
  top: 130%;
}

.book .button {
  margin-top: 2rem;
}

/* 
.about .photo-col, .book .photo-col {
  margin-right: 2.5rem;
  max-width: 300px;
} */

img.cover {
  object-fit: contain;
  width: inherit;

  max-width: 70%;
  max-height: 65%;
}

.book p {
  margin-bottom: 1.8rem;
}

.book h3 {
 margin-top: 3rem; 
 position: relative;
 display: inline-block;
 margin-bottom: 2.5rem;
}

/* CONTACT */

.contact .msg a {
  text-decoration: underline;
}

.contact .msg a:hover {
  color: var(--neon-yellow);
}

.contact .msg p {
  background-color: black;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-size: 1.1rem;
  font-family: var(--font-family);
  margin-bottom: 1rem;
  text-align: center;
}

input, textarea {
  min-height: 2.5rem;
  background: linear-gradient(black, black) padding-box,
  var(--lisa-gradient) border-box;
  border-radius: 8px;
  border: 3px solid transparent;  
  margin-top: 0.5rem;
  filter: var(--drop-green);
  color: white;

  padding: 0.75rem 1rem;
  font-family: var(--reg-font);
  font-size: 1.3rem;
}

textarea {
  height: 300px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.honeypot {
  position: absolute;
  left: -9999px;
}

input.submit {
  width: 10rem;
  color: white;
  font-family: var(--font-family);
  font-size: 1.3em;
  text-align: center;
  padding: 0.5rem 0.5rem;
}

input.submit:hover {
  filter: drop-shadow(8px 8px 8px var(--neon-green));
  transition: filter 0.2s;
}