/* GLOBAL */
:root {
 --font-family: 'Arial Rounded';
 --nav-font: 'Arial Rounded';
 --display-font: 'rip';
 --dark-color: black;
 --light-color: white;
 --neon-green: #09FF00; 
 --neon-yellow: #EEFF00; 
 --neon-pink: #FC5BFB; 
--lisa-gradient: linear-gradient(160deg, var(--neon-pink), var(--neon-yellow))

}

/* RESETS */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:focus {
	outline: none;
}

::selection {
	background-color: var(--neon-yellow);
	color: white;
}

ul {
	list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

/* LAYOUT */

body {
	font-family: var(--font-family);
  background-color: var(--dark-color);
  color: var(--light-color);
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  width: 100%;
  overflow-x: hidden;
}

.content {
  grid-column: 1 / 3;
}

.content:not(.home)  {
  display: flex;
  flex-direction: row-reverse;
}

.content > div { 
  width: 50%;
}

.right-col {
  padding: 4rem;
}

.left-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

body.home .checkers, .home .header .title, .about .header .title {
  display: none;
}

.checkers {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100vh;
  z-index: -1;
  background: conic-gradient(
    var(--neon-green) 90deg,
    var(--neon-pink) 90deg 180deg,
    var(--neon-green) 180deg 270deg,
    var(--neon-pink) 270deg
    );
    
    background-repeat: repeat ;
    background-size: 5vw 5vw;
    background-position: top left; 
}

/* TYPOGRAPHY */

h2, h3, h4, h5, h6 {
	font-weight: normal;
  font-family: var(--font-family);
}

h1 {
  font-family: var(--display-font);
}


/* NAV */

.header {
  grid-row: 1/2;
  grid-column: 2 / 3;
  text-align: right;
  z-index: 10;
}

.header .title {
  padding: 1.5rem;
}
.title {
  font-family: var(--display-font);
  font-size: 2.2rem;
  line-height: 0.8;
}

nav {
  grid-row: 1/2;
  grid-column: 1/3;

  font-family: var(--nav-font);
  font-style: bold;
  font-size: 1.3rem;
  text-transform: lowercase;
  margin-bottom: 1rem;

  position: fixed;
  padding: 1.5rem;
}

ul.nav {
  display: flex;
  position: relative;
}

nav li {
  line-height: 1;
  margin-right: 0.35rem;
  padding: 0.5rem 1rem;
  
  background: linear-gradient(black, black) padding-box,
  var(--lisa-gradient) border-box;
  border-radius: 10px;
  border: 2px solid transparent;  
}

ul.sub-nav {
  position: absolute;
  top: 37px;
  padding-top: 0.5rem;
  display: none;
  width: max-content;
  left: -2px;
}

nav li:hover > ul.sub-nav, ul.sub-nav:hover {
  display: inline;
}

nav li.active, nav li:hover {
  filter: drop-shadow(3px 5px 3px black);
}

ul.sub-nav li {
  margin-bottom: 0.35rem;
  width: fit-content;
}



/* PAGES */
.home h1 {
  font-size: 10rem;
  background: linear-gradient(90deg, #09FF00, #EEFF00, #FC5BFB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 70vw;
  line-height: 0.9;
  margin-bottom: 1rem;
}

.home h3 {
  font-size: 2rem;
}

.about .right-col {
  padding-top: 6rem;
}

.play {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 115px);
  height: min-content;
  margin: 0 2rem 4rem;
}

.play .title {
  font-size: 5.5rem;
}

.jean {
  transform: rotate(-20deg);
}

.kyoung {
  grid-column: 2/4;
  transform: rotate(10deg) translate(20%, -10px);
}

.frazier {
  grid-column: 2/4;
  transform: rotate(20deg) translate(-20px,-20px);
}

.play .pink {
  width: 40px;
  transform: translate(40%,-10px);
}

.play .triangle {
  grid-row: 2/3;
  transform: translate(50%, -10px);
}

.play .green {
  grid-column:2/3;
  transform: translate(100%, 100%);
}

.about p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.profile {
  padding-bottom: 2rem;
  max-height: 500px;
}

.feature-img {
  padding: 0.5rem;
  border: var(--thin-border);
  max-height: 300px;
}

.writing {
  margin-bottom: 2.4rem;
}
.writing li {
  margin-bottom: 1rem;
}

.content a {
  text-decoration: none;
}

.writing span.publisher {
  font-style: italic;
}

.writing h3, .book h3 {
  font-family: var(--nav-font);
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  
  margin-bottom: 1rem;
}

.about .photo-col, .book .photo-col {
  margin-right: 2.5rem;
  max-width: 300px;
}

.photo-col img {
  object-fit: contain;
  width: inherit;
}

img.cover {
  width: 300px;
}


.book h2 {
  font-size: 2rem;
  font-family: var(--display-font);
  padding-bottom: 2rem;
}

.book p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.book h3 {
 margin-top: 3rem; 
}

.book .button {
  display: flex;
  border: var(--thin-border);
  font-family: var(--nav-font);
  justify-content: center;
  padding: 12px 15px 5px;
  line-height: 1;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  color: var(--secondary-color)
}

.book .button:hover{
  --secondary-color: black;
}

.book .cover {
  width: 400px;
  height: auto;
}

/* CONTACT */

input, textarea {
  min-height: 2.5rem;
  background: linear-gradient(black, black) padding-box,
  var(--lisa-gradient) border-box;
  border-radius: 8px;
  border: 3px solid transparent;  
  margin-top: 0.5rem;

  filter: drop-shadow(3px 5px 3px var(--neon-green));
}

textarea {
  height: 300px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.honeypot {
  position: absolute;
  left: -9999px;
}

input.submit {
  width: 10rem;
  color: white;
  font-family: var(--font-family);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
}