@media screen and (max-width: 768px) {
  :root {
    --nav-height: 55px; 
  }
  .mobile-only {
    display: block;
  }
  .checkers {
    background-size: 40px 40px;
  }
  /* LAYOUT */
  body {
    display: flex;
    flex-flow: column;
    padding-top: var(--nav-height);
  }

  .landing .feature-img {
    max-width: 89vw;
  }

  .home h1 {
    font-size: 24vw;
    width: 100%; 
  }

  .home h3 {
    font-size: 1.8rem;
  }

  .content:not(.home) {
    flex-direction: column;
  }

  .contact .content, .about .content, .contact.content {
    flex-direction: column-reverse;
  }
  
  .book .left-col {
    padding-bottom: 3rem;
  }

  .book .right-col {
    padding-top: 3rem;
  }

  .writing .checkers {
    display: none;
  }

  .content > div {
    width: 100%;
  }

  .right-col {
    padding: 1rem;
  }

  .checkers {
    position: relative;
    height: auto;
  }


/* hamburger + nav */

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    height: var(--nav-height);
  }

  ul.nav {
    display: none;
    transform: translateY(10px);
  }

  ul.nav.show {
    display: block;
  }

  ul.nav li {
    padding-right: 1rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  ul.sub-nav {
    top: -2.5px;
    padding-top: 0;
    left: 105%;
  }

  nav, .header .title {
    padding: 0.75rem;
    top: 0;
  }


  nav li {
    filter: var(--drop-black);
  }

  .hamb {
    cursor: pointer;
    padding: 13px 5px;
    display: inline-block;
  }/* Style label tag */

  .hamb-line {
    background: var(--lisa-gradient);
    display: block;
    border-radius: 50px;
    height: 4px;

    position: relative;
    width: 2rem;

  } /* Style span tag */

  .hamb-line::before,
  .hamb-line::after{
    background: var(--lisa-gradient);
    content: '';
    display: block;
    border-radius: 50px;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  .hamb-line::before{
    top: 10px;
  }
  .hamb-line::after{
    top: -10px;
  }

  /* about */
  .about .header .title {
    display: block;
  }
  .about .left-col {
    display: none;
  }

  .play {
    padding: 2rem;
    padding-left: 1rem;
    margin: 0;
    padding-bottom: 0;
    margin-bottom: -1rem;
    overflow-x: hidden;
  }

  .play .title {
    font-size: 4rem;
  }


  .mobile-only.checkers {
    padding: 1.5rem 1.3rem;
    width: min-content;
    display: flex
;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
  }

  .about .profile {
    padding-bottom: 0;
    max-height: 250px;
  }

  .about p {
    font-size: 1.8rem;
  }

  .contact .main {
    padding-bottom: 4rem;
  }
  .contact .field, .contact .msg p {
    font-size: 1.2rem;
  }

  .contact .field {
    margin-bottom: 2.3rem;
  }

  .contact .msg {
    padding: 4rem 1rem;
  }

  .contact h2, .writing h2 {
    margin-bottom: 3rem;
    font-family: var(--extra-bold);
    text-transform: capitalize;
    font-size: 2rem;
  }

  .writing h2 {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .contact button {
    padding: 0.75rem 1.5rem;
  }

  .contact.content {
    height: 95vh;

  }
  .contact.content .right-col {
    /* padding-top: 1rem; */
    height: 100%;
  }
}
